[2017-01-30 12:29] dumacdev opened #2 "Type Error"
Hi I get this output if i try to npm start your code.

/home/ubuntu/workspace/twitter-bot-bootstrap/src/bot.js:175
    var index = Math.floor(Math.random() * arr.length);
                                              ^

TypeError: Cannot read property 'length' of undefined

[2017-01-30 13:04] spences10 commented on #2
@dumacdev have you added search query criteria?

I have seen the error when there is no values in the `strings.js` module :+1:

[2017-01-30 13:27] dumacdev commented on #2
module.exports = {
    queryString: [
        'javascript',
        'reactjs',
        'webdev'
    ],
    queryStringSubQuery: [
        '',
        '',
        ''
    ],
    resultType: [
        'mixed',
        'recent',
        'popular'
    ],
    responseString: [
        'Hi @screenName thanks for the follow! !CR',
        '@screenName thanks for following! !CR',
        'Hey @screenName t

[2017-01-30 13:40] spences10 commented on #2
Ok, first my apologies as I thought I only had the subquery stuff in the dev branch so there is no documentation just yet.

I have an empty string as one of my query strings and do not get that error :thinking:

I added the sub queries so you can put in things like `' best practice`` and `' handy tip'` but I also have an empty one `''`

Try adding some subquery strings see what happens

[2017-01-30 13:46] dumacdev commented on #2
ok got it

instead of

queryStringSubQuery: [
        '',
        '',
        ''
    ],

id did

queryStringSubQuery: [
        ''
    ],

now it works just fine

Thanks for the help

[2017-01-30 13:50] spences10 commented on #2
It looks like I have update the README on the weekend, I really shouldn't drink alcohol and do GitHub :confused:

[2017-01-30 13:52] #2 closed

[2017-02-01 07:30] spences10 opened #4 "Add sentiment detection"
Add sentiment detection on likes and tweets so bot doesn't like or RT negative tweets

Reason?

[2017-02-01 22:08] spences10 commented on #4
resolved with #5

[2017-02-01 22:08] #4 closed

[2017-02-05 13:59] spences10 opened #11 "License badge looks broken"

[2017-02-05 16:55] spences10 commented on #11
Seems ok now, must have been my mobile connection

[2017-02-05 19:36] spences10 opened #12 "Is the bot retweeting"
retweetId DERP! Cannot read property 'id_str' of undefined Query String: blockchain professional

[2017-02-06 16:12] spences10 commented on #12
Yes the bot is retweeting

[2017-02-07 10:09] #12 closed

[2017-02-08 05:43] #11 closed

[2017-02-08 05:49] spences10 opened #16 "Enhance user blacklist"
Currently it's just `@UserNameHere` hard coded in which isn't great

[2017-02-08 06:26] spences10 opened #17 "Remove sentiment API key"
Direct users on how to get their own API key

[2017-02-08 06:30] spences10 opened #19 "Address issues found in src/bot.js [Opened by bitHound]"
bitHound discovered 1 LintIssue, and 1 ErrorIgnored in [src/bot.js](https://github.com/spences10/twitter-bot-bootstrap/blob/3d543808b585a50ca3e17cb67377a437c927c364/src/bot.js). For details go to [bitHound](https://www.bithound.io/github/spences10/twitter-bot-bootstrap/blob/3d543808b585a50ca3e17cb67377a437c927c364/src/bot.js).

[2017-02-08 06:31] spences10 opened #20 "Address issue found in src/config.js [Opened by bitHound]"
bitHound discovered 3 LintIssues in [src/config.js](https://github.com/spences10/twitter-bot-bootstrap/blob/3d543808b585a50ca3e17cb67377a437c927c364/src/config.js). For details go to [bitHound](https://www.bithound.io/github/spences10/twitter-bot-bootstrap/blob/3d543808b585a50ca3e17cb67377a437c927c364/src/config.js).

[2017-02-08 06:38] spences10 commented on #20
Resolved with #18

[2017-02-08 06:38] #20 closed

[2017-02-08 18:54] Raindeer44 commented on #11
So now the first badge is having issues for me. It correlates to me accessing Github through a VPN, which has ad-blocking capability built in. There's no problem at all when I turn off my VPN. I don't know if this is worth fixing though.

[2017-02-08 19:57] spences10 commented on #11
I thought it may have been something like that, when I logged it I was behind a corporate proxy :+1:

[2017-02-09 16:42] stevehemingway commented on #17
Just a clue would be nice!

[2017-02-09 16:45] spences10 commented on #17
Hey @stevehemingway, thanks for prompting me on this

I did add this to the README

---
Now you'll need to add your Twitter keys to the .env file. Just input the keys in their corresponding fields and save the file.

The SENTIMENT_KEY you can get a new API key at [https://market.mashape.com/vivekn/sentiment-3](https://market.mashape.com/vivekn/sentiment-3) your key is in the REQUEST EXAMPLE

[code

[2017-02-09 21:54] spences10 commented on #17
Resolved with #22

[2017-02-09 21:54] #17 closed

[2017-02-10 10:25] stevehemingway commented on #17
Sorry, yes, it is obvious now you mention it!

[2017-02-10 10:43] spences10 commented on #17
I've added a gif detailing the process now as well, thanks again for the nudge :smile:

[2017-02-11 23:43] bovas85 opened #23 "Heroku crashes"
Hi there, amazing work and I hope to contribute.

I'm getting the following error with heroku when deployed after a few loops:
[code]

I've followed your guide but can't seem to find the issue

[2017-02-11 23:53] bovas85 commented on #23
found a workaround using express
var express = require('express');
var app     = express();

app.set('port', (process.env.PORT || 5000));

//For avoidong Heroku $PORT error
app.get('/', function(request, response) {
    var result = 'App is running'
    response.send(result);
}).listen(app.get('port'), function() {
    console.log('App is running, server is listening on port ', app.get('port'));
}

[2017-02-12 10:36] spences10 opened #24 "Enhance follow self fix"
Take a look at the Snug's implementation of the bot bootstrap, does a good job with the follow self functionality here: https://github.com/thesnug/thesnugbot/blob/master/src/bot.js

Linking to #16 as it's the same issue it's only after finding `thesnugbot` that I saw how it could be done.

[code]

**beautiful!!**

[2017-02-12 10:59] spences10 commented on #23
Hey @bovas85  thanks for taking the time to log an issue. I have seen the issue previously and (I thought) clearly documented it in the README. This particular issue was quite tricky, but once you play around with the worker settings it usually sorts itself out.

[code]

If that didn't work the I'd play with the dashboard settings in Heroku.

I'll take a look at your solution later I'm on mobile c

[2017-02-12 19:23] bovas85 commented on #23
it now gives me another issue:

[code]

[2017-02-12 19:46] bovas85 commented on #23
It appears I had to add index.html to the root folder to prevent the app from timing out on the app.get request.
I'll reply if there are more issues, otherwise I'll close the issue and create a PR

[2017-02-12 20:09] spences10 commented on #23
@bovas85 ok, apologies if it's causing you pain, it was something that caused me a fair bit of searching to resolve.

And I do encounter the issue time to time now but usually setting the workers from the CLI fixes it, manually toggling the workers on the Heroku dashboard if that doesn't do anything.

[2017-02-12 20:56] bovas85 commented on #23
I'm still getting that error... How do I disable it from the dashboard?

[2017-02-13 06:39] mahaase1 opened #25 "No repository field for twitter-bot@1.0.0"
On install, two exceptions -
npm WARN package.json twitter-bot@1.0.0 No repository field.
npm WARN deprecated node-uuid@1.4.7: use uuid module instead

I grabbed uuid and it's resolved but what's package alternative for the twitter-bot?
Looking forward to taking this on test drive. And great instructions!!

[2017-02-13 09:59] spences10 opened #26 "Hidden files are hidden"
A user commented on the Medium post that they were really stuck on the `.env` file part as it's hidden by default with c9.

Something I was completely unaware of but I'll add them in there as it is causing frustration for a lot of users.

Also add in that `WARN` can be ignored when doing `npm install`

[2017-02-13 10:10] spences10 commented on #25
Hi @mahaase1 thanks for taking the time to log an issue, the warnings are just that :smile: warnings

The code will work fine without the `repository` field in there so you can ignore the warnings or add in the repository if you like it's up to you this is a bootstrap so you can get started and do with the code what you please :+1:

I'll add some documentation about warnings and ignoring them alon

[2017-02-13 10:10] #25 closed

[2017-02-13 12:38] spences10 commented on #26
In the file view select the settings cog then tick the **Show Hidden Files** option if it is not already checked.

![image](https://cloud.githubusercontent.com/assets/234708/22883677/2fe9a528-f1e9-11e6-8135-b3292250e2f7.png)

[2017-02-13 13:17] spences10 commented on #26
Resolved with #27

[2017-02-13 13:17] #26 closed

[2017-02-13 13:19] spences10 commented on #23
Hey @bovas85 I have updated the readme with further details on Heroku

I hope this explains it for you, this is as much as I can do for you my friend :+1:

Resolved with #29

[2017-02-13 13:19] #23 closed

[2017-02-13 13:25] spences10 commented on #16
Closing as #24 expands on this

[2017-02-13 13:25] #16 closed

[2017-02-14 06:18] spences10 commented on #24
Resolved with #30

[2017-02-14 06:18] #24 closed

[2017-02-14 06:18] spences10 commented on #19
Addressed with #30

[2017-02-14 06:18] #19 closed

[2017-02-19 23:28] ladeyemi opened #33 "Invali URL Paramete"
Hi Scott,

Amazing bot, thank you for the great guide. I had mine up and running a few days ago made some changes and I managed to break it ):

I've gone with a fresh install as I noticed you updated the README. After I enter in NPM start I get the following output, any suggestions ways you could please recommend on fixing this?

Something went wrong while SEARCHING...
ERR CAN'T FIND TWEET: { [Err

[2017-02-20 08:03] #33 closed

[2017-04-10 17:15] spences10 opened #35 "Simplify releases"
With semantic-release and commitizen

[2017-04-10 19:19] #35 closed

[2017-04-10 21:06] MarcL opened #36 "Example of making it an npm module"
As we were discussing on Twitter, how I'd make the ES6 branch into an exportable module for `npm`.

So at the moment, package.json has main as `index.js` which would just start the bot. Instead, export the bot itself.

[code]

Because you're transpiling this with babel, you might want to build the whole project to a `build` or `lib` directory instead and reference that but I'll leave that for you

[2017-04-11 07:52] MarcL commented on #36
Just had an idea. Why not release it as a command line package instead?
You could take parameters from the command line - [meow](https://github.com/sindresorhus/meow) might be helpful here if you want a nice CLI interface.
Use the "bin" property of "package.json" and then when you install with `npm -g scott-tweet-bot` you can just run it on the command line like:

[code]

[2017-04-11 10:25] spences10 commented on #36
Pretty cool!!

Thanks for this @MarcL your initial suggestion is what I think I'm aiming at where there'll be minimal coding involved, but the CLI sounds like a pretty neat thing to do as well.

I think initially that I'd just like to get the bot up and running with ES6 style, then use babel to transpile to a `build` folder like you suggested so I can deploy to Heroku/now/wherever else.

I'd have

[2017-04-11 10:26] MarcL commented on #36
Cool. All sounds good. Shout if you want some help with tests too.

[2017-04-11 15:50] spences10 commented on #36
Hey @MarcL looks like someone has already done something [similar](https://github.com/fraziermork/twitter-bot), is this along the lines of what you meant?

[code]

[2017-04-11 20:31] MarcL commented on #36
Yes. If you add that "main" directive then it defines the entry point for the package. 👍

[2017-04-11 20:47] spences10 commented on #36
Yeah, so I'll need to get webpack configured to build it as well wont it?

[2017-04-11 20:57] MarcL commented on #36
No mate. Avoid adding more tooling if you can.
Think you said you're using Babel to transpile right?

So add a task in the "scripts" section:

[code]

So you can run `npm run build` to transpile from ES6 in `src/` to ES5 in `lib/`.
Then you'll need a `prepublish` script if you're publishing to `npm`:

[code]
When you attempt to publish, you'll publish the built ES5 code rather than ES6 so everyone

[2017-04-11 21:20] spences10 commented on #36
Yes Babel to transpile, I think I have used the `babel src -d lib` before

I'm currently working out how to not have mt tests fail in travis as my config keys are in a `.env` file I have added env variables in travis but still failing 😨

[2017-04-12 07:23] MarcL commented on #36
Do you need to integrate Travis yet? Might be worth getting package working without it for now.

Also, I'd avoid having your unit tests rely on your API keys or environment variables.
You don't want to have to have the unit tests explicitly call a 3rd party service (i.e. the Twitter API in this case). It _could_ fail and/or you will be tweeting every time your tests run.

Instead, look at stubbing

[2017-04-12 07:57] spences10 commented on #36
Travis integration was part of the semantic-versioning setup, it's not needed

This is gold, thanks mate 👍 I've heard about stubbing [[toolsday.io](http://www.toolsday.io/episodes/unittesting.html) podcast] think I'll go listen to it again, it was a pretty good one actually.

Makes perfect sense, thanks for all the pointers @MarcL

If you can afford that time then yes! I that would be really, real

[2017-04-12 08:49] MarcL commented on #36
We use [ScreenHero](https://screenhero.com/) here but Slack bought them and not sure if you can register for an account any more! 😢 We'll get it working.

Think it would be useful for you, as a relative beginner to JS testing, and really useful for me to understand the problems you have. Would love to be able to make a PDF with the basics for you (or whatever you think would be relevant). Want to

[2017-04-12 09:09] spences10 commented on #36
Cool! I had a look at ScreenHero and found [Existing users can still invite new users.](http://blog.screenhero.com/post/110852538851/already-a-screenhero-user-heres-how-to-invite) :+1:

Would be good to have a [GitBook](https://www.gitbook.com/) maybe? I'm going to check if there are any [![Awesome](https://cdn.rawgit.com/sindresorhus/awesome/d7305f38d29fed78fa85652e3a63e154dd8e8829/media/badge.sv

[2017-04-12 09:12] MarcL commented on #36
I started... https://github.com/MarcL/awesome-javascript-testing

[2017-04-12 10:26] spences10 commented on #36
Cool! 😎 looking now

[2017-04-12 10:27] MarcL commented on #36
Feel free to PR. Started it a while ago but meant to update it and put some additional info on it.
Will do so in the next week or so. Busy, busy... ;)

[2017-04-12 21:15] spences10 opened #37 "export default?"
@MarcL I'm attempting to call a function in `bot.js` from another module, it's for the search part of the bot.

I can call the function from withing the `bot.js` module but when I try move it out into it;s own module and then `import` to the bot I get an error saying it's not a function, here's a quick overview:

**Working**
**`bot.js`**

[code]

`tweetNow(getFunName())` and `setInterval(() =>` wh

[2017-04-12 21:40] MarcL commented on #37
You've defined `searchResult` as a function:

[code]

But then you're actually executing the function and returning the result of it:

[code]
Your function doesn't currently return anything so it will return `undefined` by default. You're then attempting to call `undefined` as a function, which it's obviously not.

You should just be exporting the function so that you can call it from outside of t

[2017-04-13 06:54] spences10 commented on #37
Hey @MarcL, I should have mentioned that I also tried to remove the parenthesis in `search.js` with the same error before posting this.

![image](https://cloud.githubusercontent.com/assets/234708/24993079/a6c32168-201c-11e7-8820-317dd0a29618.png)

I thought it may have been something to do with Babel being a dev dependency not instead of a dependency, I then added the two `require` into `index.js`

[2017-04-13 07:17] MarcL commented on #37
Ok no problem. Just relooked.
No, you've not set Babel up incorrectly. You're not quite using `import/export` correctly.

You've exported `searchResult` as a default:

[code]

But then you're importing as a named import:

[code]

But the `export` means that you're exporting an object with a `default` property which you'd have to import like this:

[code]

To use the import in the way you currently

[2017-04-13 07:24] spences10 commented on #37
I was right, it wasn't my code at all 😄

jk! I had Babel pointing to the wrong file!! 😅

My `dev` script

[code]

Well actually take a look at the git diff on the `package.json`

![image](https://cloud.githubusercontent.com/assets/234708/24993997/cf7b8eb6-2020-11e7-833a-881447968106.png)

Moved all the things!!

Thanks for all your help @MarcL just being able to bounce Ideas off of you has helped

[2017-04-13 07:30] spences10 commented on #37
OMG!

Thanks for this @MarcL !!
https://github.com/spences10/twitter-bot-bootstrap/issues/37#issuecomment-293812053

Thing is I was just watching the Wes Bos ES6 course on this!!

Ok, changed the import, so it's the default and got rid of the `export` on `searchResult` all good now

Thanks again, really appreciate it

[2017-04-13 07:31] MarcL commented on #37
No problem. Happy to help.

I can't tell why the exports don't work without seeing the subsequent import I'm afraid.

Depends on the config but ESLint will probably tell you to use default export if you only export one function. See [AirBnB ESLint module rules](https://github.com/airbnb/javascript#modules) for some info.

[2017-04-13 07:32] MarcL commented on #37
Ah - didn't realise you hadn't seen my reply after replying to your additional comment.

[2017-04-13 07:37] spences10 commented on #37
It's because I wasn't importing it into `bot.js` correctly, I removed the curly braces from the import in `bot.js` as it was a default export and not a named one, then all is good.

This is a pretty big milestone for me @MarcL as I was struggling for weeks on this with that [node module testing](https://github.com/spences10/node-module-testing) repo that you kindly had a look at for me all those w

[2017-04-13 08:00] MarcL commented on #37
No problem. Always happy to help.

For testing your understanding of ES6/JS/modules in general, it might be easier to just to create a simple repo with import / export of simple functions to see how it works. I worry that you're getting bogged down with JS toolchains which can confuse the issue. Just export the classic calculator functions (`function add()`, `function subtract()` etc). You'll be a

[2017-04-13 08:14] spences10 commented on #37
@MarcL completely agree with you, I spent a couple of hours just setting up the tooling alone 😲 I think I set up Travis as part of the commitizen setup, gotta love those wizards 😄

I thought it best that I get familiar with working with all of the tooling needed as a real world example, building this bot, the current production one taught me a lot but I'll take your advice and do the basics. Typic

[2017-04-15 09:55] spences10 opened #38 "Retweet functionality broken"
Can't seem to get the correct result with several differing ways to re-tweet, I've logged an issue [#219](https://github.com/desmondmorris/node-twitter/issues/219) with the package maintainer.

This is probably nothing to do with the package and more likely my rudimentary coding 👍

[2017-05-04 13:33] greenkeeper[bot] opened #42 "An in-range update of snyk is breaking the build 🚨"
## Version **1.30.0** of [snyk](https://github.com/Snyk/snyk) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/spences10/twitter-bot-bootstrap/compare/greenkeeper%2Fsnyk-1.30.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      snyk
    </td>
  </tr>
  <tr>
    <th align=left>
      Curr

[2017-05-14 06:01] spences10 commented on #42
Will fix next time I spin up the project

[2017-05-14 06:01] #42 closed

[2017-05-15 15:56] greenkeeper[bot] opened #46 "An in-range update of snyk is breaking the build 🚨"
## Version **1.30.1** of [snyk](https://github.com/Snyk/snyk) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/spences10/twitter-bot-bootstrap/compare/greenkeeper%2Fsnyk-1.30.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      snyk
    </td>
  </tr>
  <tr>
    <th align=left>
      Curr

[2017-05-16 14:28] spences10 opened #48 "Violating Twitter ToS"
:grimacing: uh oh!

https://support.twitter.com/articles/76915

![image](https://cloud.githubusercontent.com/assets/234708/26111112/22aa3d72-3a4c-11e7-921c-9ba4fc15324a.png)

Better take out the like functionality!

[2017-05-16 22:39] ryan-mulrooney commented on #48
Indeed! The bot crashes after liking a tweet anyway, so 👍 .

[2017-05-16 22:50] ryan-mulrooney commented on #48
It crashes when retweeting too, but less frequently. In both cases the crash is due to:

`var sentim = result.body.result.sentiment
TypeError: Cannot read property 'sentiment' of undefined`

This is usually undefined when receiving a 502 response after making the `httpCall.send('txt=' + favoriteText)` call.

[2017-05-16 22:54] ryan-mulrooney commented on #48
Oh, sorry, ignore that - I'm incurring 502s when testing the endpoint in Mashape's own app...

[2017-05-26 15:32] #46 closed

[2017-05-26 18:43] greenkeeper[bot] opened #49 "An in-range update of snyk is breaking the build 🚨"
## Version **1.31.0** of [snyk](https://github.com/snyk/snyk) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/spences10/twitter-bot-bootstrap/compare/greenkeeper%2Fsnyk-1.31.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      snyk
    </td>
  </tr>
  <tr>
    <th align=left>
      Curr

[2017-05-27 15:59] #49 closed

[2017-05-29 01:06] ashenwgt commented on #48
Here also it crashes when retweeting due to` var sentim = result.body.result.sentiment` line. Does anyone know how to fix it?

[2017-05-29 09:31] #48 closed

[2017-05-29 09:38] spences10 commented on #48
Hi @ashenwgt @ryan-mulrooney thanks for your input, this issue was relating to the Twitter terms of service not the Mashape Sentiment API

Closing this with reference to what was intended to fix the ToS issue 😉

Also removed Semtiment in favour of using `filter: 'safe',` in the retweet function, this should get around bad language being retweeted, negative sentiment not though.

If either of you r

[2017-05-30 11:04] ashenwgt commented on #48
Thanks @spences10  for your quick workaround. Now the bot is working fine. It is now retweeting the news related to the floods happening in Sri Lanka these days: https://twitter.com/FloodSL_Bot

[2017-05-30 11:08] spences10 commented on #48
@ashenwgt I hope it serves you well! And that it helps :+1:

[2017-05-30 11:10] spences10 commented on #48
@ashenwgt if you need any help configuring it let me know if I can help :+1:

[2017-06-07 03:23] JamieBNU opened #57 "Code seems to have errors"
This is a great project and learning a lot. I've followed the instructions exactly as they outline, but it does not seem to work.

Can someone please help me figure out why it is not running?

I am getting this output:

[code]

[2017-06-07 05:17] spences10 commented on #57
HI @JamieBNU are you able to tell me where this is happening, at what stage in the walk through are you and what commands did you enter, looks like maybe `npm run start`?

Have you `npm install`ed everything? and are you in the working directory?

Thanks 👍

[2017-06-07 05:47] JamieBNU commented on #57
Thanks! Yes, I'm at the part of the tutorial where it tells us to run the command 'npm start' in the /home/ubuntu/workspace/twitter-bot-bootstrap/ directory. But then it gives me the error log above.

Not sure what to do! Many thanks for your help!

[2017-06-07 05:50] JamieBNU commented on #57
I also get this:

b2jamie:~/workspace/twitter-bot-bootstrap (master) $ npm start

/home/ubuntu/workspace/twitter-bot-bootstrap/src/api/retweet.js:26
      let retweetId
      ^^^

SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)
    at Object.Module._ext

[2017-06-07 06:00] spences10 commented on #57
Ok, so for:

[code]

You'll need to add `"use strict";` at the top of the file where the error is coming from, taker a look at: https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Strict_mode

For the `npm` script try `npm run start` not `npm start` if that doesn't work try running the `bot` file against node directly, so something like:

[code]

See what the output is 👍

[2017-06-07 06:12] JamieBNU commented on #57
Hooray! Thank you! It runs - but now I am getting the error "ERRORDERP: Cannot assign retweeID"
Getting there!

[2017-06-07 07:04] spences10 commented on #57
That's the logging, usually occurs when the tweet is has already been retweted. 👌

[2017-06-07 07:04] #57 closed

[2017-06-12 12:59] spences10 opened #61 "Use external file for search parameters"
As with issue https://github.com/spences10/twitter-bot-twit/issues/5 on Twitter bot twit look at using an external file for the configuration of the bot to reduce the need to deploy when a non code element changes a'la search params or other config variables, retweet times etc...

Take a look at:

[2017-06-16 10:13] spences10 opened #67 "Bot replying to self!"
Add logic to check username before tweeting!

https://github.com/spences10/twitter-bot-bootstrap/blob/master/src/api/reply.js#L15

[2017-06-16 16:58] #67 closed

[2017-06-19 09:05] DaveBryantLU opened #68 "When ever I run "git clone https://github.com/spences10/twitter-bot-bootstrap" I seem to be missing the folder "helpers" and the files within"
As the title suggests, I run ""git clone https://github.com/spences10/twitter-bot-bootstrap"" and all seems to work ok, however the folder "helpers" with files <sentiment.js> & <strings.js> are missing.

This seems to hinder my install as even after following each step after and entering "npm run" nothing is retweeted on my feed.

This is the message I receive after an "NPM RUN"

davebryantlu:~/wo

[2017-06-19 10:32] spences10 commented on #68
Hi @DaveBryantLU thanks for logging this, can I ask are you following the guide from the Medium post?

I don't think there's an instruction to use just `npm run` it would be either `npm start` or `npm run start` so if you can clarify that then I'll be able to fix that for everyone else.

If you're coming from the medium post, that post and this repo are a bit different now. Due to the Twitter ToS

[2017-06-19 10:32] #68 closed

[2017-06-19 21:48] DaveBryantLU commented on #68
Thanks for the response! I should clarify I was using "NPM START" and also tried "NPM RUN START", that was a typo on my last. I'll go through the new README file above and let you know if I run into any further issues, thanks again for such a comprehensive guide.

[2017-06-21 10:41] DaveBryantLU commented on #68
Hi there, I restarted the setup from scratch and now receive a difference error, the error is "Failed at the twitter-bot-bootstrap@0.2.1 start script 'node index.js'." I've attached the log, I've rechecked your latest README file several times and followed it to the letter (API/Consumer Keys and Search strings aside)

Any further insight here would be appreciated
[npm-debug.pdf](https://github.com

[2017-06-21 11:40] spences10 commented on #68
HI @DaveBryantLU so you're using C9 to set up the bot yes?

It looks like you're using node v4 form the log, let me go see if I can spin up a new bot, bear with!

[2017-06-21 12:07] spences10 commented on #68
Ok, so, first off it looks like using a more recent version of node will stop that error but it looks like something that has changed in the most recent version of `twit` is causing errors now as it's appears to be silently failing on the retweet search.

So in answer to the issues posted earlier use `nvm` to go to a more recent version of node, I went to v8, with this:

[code]

This is assuming y

[2017-06-21 23:14] DaveBryantLU commented on #68
First error fixed, I'm using c9 as I find that's the easiest method of setting up stuff like this quickly.

If I happen to work out the `ERRORDERP: Cannot assign retweeID` issue I'll let you know @spences10 ! Have a great day!

[2017-06-23 05:44] spences10 commented on #68
Hey @DaveBryantLU I found what was causing the no search results it was the `LANG` setting, I haven't found the precise cause but basically if you had `en` for your language configured it was returning the `process.env.lang` which is a `node` setting, I have changed the config [here](47835da6cf151b55395d8083faa3f815c2e65aa3) and the correcspondin `.env` setting will need changing too.

Let me know

[2017-06-23 11:47] DaveBryantLU commented on #68
Hi Scott,

I restarted, pulled down the latest version, updated the .env file to show
"LANGUAGE=en" and not "LANG" but still getting the "Cannot assign retweet
ID" message at the last stage.

I'll have a scan of this tonight and see what I can come up with, quite
strange. I'm fairly new to this, but do have a basic understanding and have
followed your instructions to the letter.

Appreciated your

[2017-06-23 13:14] spences10 commented on #68
The only other place to change it is in the `config.js` file, that's where the environment variables are accessed.

If you are using c9 and are on a public machine you can DM me the link on twitter or email it over to me and I'll take a look:

[@ScottDevTweets](https://twitter.com/ScottDevTweets)
[spences10apps@gmail.com](mailto:spences10apps@gmail.com)

[2017-06-25 10:20] spences10 opened #71 "Update deploy-with-heroku documentation"
Documentation needs to reflect the recent ToS changes

[2017-06-25 10:21] spences10 opened #72 "Incorporate stream for search"
Use Twitter streaming API instead of search

[2017-06-26 12:51] spences10 opened #74 "Recognise All contributors"
https://github.com/kentcdodds/all-contributors

[2017-06-29 19:48] GoodFaithParadigm8 opened #76 "Error: Twit config must include `consumer_key` when using user auth."
After setting up the configuration in the .env file and running npm start I get the above error.

[2017-07-05 16:04] spences10 commented on #76
Hey @GoodFaithParadigm8

**Twit config must include `consumer_key` when using user auth** indicates there is an issue with how the config is set up, so are there any `""` or `''` around the API keys in the `.env` file?

closing this as it's a configuration issue and not an issue with the bot itself

I'll happily carry on the thread until you have it resolved though :+1:

[2017-07-05 16:04] #76 closed

[2017-07-05 17:53] GoodFaithParadigm8 commented on #76
Ended up building a bot using a different scheme. Love the 12 Factor App Methodology used in yours though. Knew raising an issue wasn't the best place to ask about the error I got but didn't think it would have gotten a response on Stack Exchange. I'll revisit the bot at a later time to see if I properly set up the configuration. Thanks!

[2017-07-06 04:49] spences10 commented on #76
for some reason I didn't get a notification for this issue and only noticed it when I logged in to log one myself 🙃

[2017-07-06 09:47] spences10 opened #77 "Add documentation for using node 8 w/ nvm"
nvm for when using c9 windows users something else

[2017-07-07 05:32] spences10 opened #78 "Glitch link broken"
![image](https://user-images.githubusercontent.com/234708/27944320-f9635402-62dd-11e7-87b2-15aab69c0b26.png)

[2017-07-15 05:38] #78 closed

[2017-07-15 06:07] #77 closed

[2017-07-26 18:07] spences10 commented on #71
I fucked up and managed to delete that branch, and, can't find it to restore it

[2017-07-26 18:07] #71 closed

[2017-07-27 20:11] nocean opened #80 "Filter out replies?"
First off, thank you for your very detailed guide on setting this up.

I know we can use the query syntax 'from:@username' to retweet tweets from a specific Twitter account, however is there a way to filter those tweets to not retweet replies?

[2017-07-28 00:36] nocean opened #81 "Random replies syntax error"
Hi Scott,

Found a little issue with the Readme. The syntax given for the RANDOM_REPLY var is shown as separated with commas, just like the QUERY_STRING var above it. However, after this failing to work I noticed that on [line 6 of reply.js](https://github.com/spences10/twitter-bot-bootstrap/blob/master/src/api/reply.js#L6), the split is defined with a pipe |, not a comma. I think this is an intel

[2017-07-28 16:23] spences10 commented on #80
Hi @nocean thanks for logging this and yes there is I actually need to get that in here, I have it in one of my other repos currently, here:

[code]

Basically the bit you want is `if (!event.in_reply_to_status_id)` so you could have it as a stop block like I have for the language further up: ` if (event.lang != config.twitterConfig.language) return` just return out of the function 👍

That make se

[2017-07-28 16:30] spences10 commented on #81
Hey @nocean,

I'm more than happy to accept a PR if you want to contribute my friend 😄

I'm about to do some changes for the retweet part [which is basically all of it now as thats the only thing Twitter hasn't banned] where instead of using a search on a timer with intervals the bot will use a sream for thw tweets and retweet those.

There's a couple of moving parts so will probably go in stages,

[2017-07-28 17:40] nocean commented on #81
Hi @spences10, good point -- I just read up on Twitter's policies and see that following is not sufficient for allowing an auto-reply. No point at all to fix that if it's going to be removed.

[2017-07-28 17:40] #81 closed

[2017-07-28 17:41] nocean commented on #80
Thanks a lot for the quick reply. This looks perfect. Will give it a go!

[2017-07-28 17:41] #80 closed

[2017-07-28 17:42] spences10 commented on #81
Oh! Do you have a link for it?

Looks like this bootstrap isn't going to end up doing much for very longer 🙃

[2017-07-28 17:46] nocean commented on #81
Here's a [link](https://support.twitter.com/articles/76915).

Under:
B. Automated Tweets -> 2. Posting automated mentions and replies

I think retweets are still fine though, which I think is the biggest purpose for this bootstrap, imo. Or is Twitter getting sticky about those too?

[2017-07-28 18:02] spences10 commented on #81
Bah!

I think there is certain areas where there needs to be an opt in for things like this but yes, it seems like Twitter is tightening up on this 😢

[2017-08-01 15:59] spences10 opened #82 "Use GraphCool backend"
Use GraphCool backend in conjunction with RT on stream so that tweets are not repeatedly tweeted.

flow will be:
1. match search criteria
1. check database if tweet text is in there already
1. if not in db already then retweet

[2017-08-04 19:46] spences10 opened #85 "Use contributors"
https://www.npmjs.com/package/contributor

Probably go in place of: https://github.com/spences10/twitter-bot-bootstrap/issues/74

[2017-08-16 19:22] Kristofferkirk opened #87 "Cannot assign retweeID"
I commented on a commit earlier but i'm sending in a issue instead:

Followed the setup instructions several times, but when im trying to start the bot i get the following error message:

"ERRORDERP: Cannot assign retweeID"

It is possible that it is the enviorment i use (C9 web based workspace).

I tried as suggested changing LAN to LANGUAGE in the .env file but to no avail. Other suggested solut

[2017-08-16 20:22] spences10 commented on #87
Oh, ok, in c9 what version of node are you on, 7+?

[2017-08-17 01:09] mapk commented on #87
I'm getting the same problem and on c9, I'm on node v8.2.1

[2017-08-17 05:18] spences10 commented on #87
@Kristofferkirk and @mapk I have just pulled the `master` branch and had a look

My `.env` file is as follows:

[code]

If I run `npm start` from the terminal I get output:

![image](https://user-images.githubusercontent.com/234708/29396873-96652b50-8312-11e7-8492-7d7b5bb17e89.png)

Changing the `,env` tag for language will resolve all languages being retweeted:

![image](https://user-images.githu

[2017-08-17 05:20] spences10 opened #88 "Update documentation"
`config.js` key values pairs need to reflect what is in the `.env` file

Refer to https://github.com/spences10/twitter-bot-bootstrap/issues/87 for details on how to resolve

[2017-08-17 15:52] mapk commented on #87
I can share my c9 with you. I tried the github email you have listed, but it says you're not a user.

[2017-08-17 17:01] spences10 commented on #87
Should do, spences10 is my user on there

[2017-08-18 06:44] spences10 commented on #87
Ok @mapk, I'm taking a look at your c9 instance, thank you

Is it the one keyword you want to search on?

It looks like it may be a limitation in my knowledge 😄 and a limitation in things for the bot to RT 😅

It was erroring when trying to determine what status it to tweet it does this with `const rando = Math.floor(Math.random() * param.searchCount) + 1` it takes the search count from the `.env`

[2017-08-18 06:48] spences10 commented on #87
Ig you would like to interrogate the data yourselves you can take the output of `console.log(JSON.stringify(data))` and use something like [Awesome JSON](https://chrome.google.com/webstore/detail/json-viewer-awesome/iemadiahhbebdklepanmkjenfdebfpfe?utm_source=chrome-app-launcher-info-dialog) chrome extension to visualise the data.

It will transform this:

[code]

To this:

![image](https://user-i

[2017-08-18 18:09] mapk commented on #87
So, could this not be resolved? I guess I'm just unclear on the next steps. Yes, I just wanted the bot to search for that one keyword, `molokan`. Thanks.

[2017-08-18 18:17] spences10 commented on #87
It's due to the very small search results you get with the one search term @mapk because the random function, the random function was returning a number between 0-20 and the search results were only ever returning one result, meaning that it was very unlikely that the random number being picked would be 0

So, what I'm trying to say is that the functionality currently doesn't work very well if the

[2017-08-18 18:22] spences10 opened #90 "Improve error reporting"
Add in the `err` so that users have a better idea of what is happening

https://github.com/spences10/twitter-bot-bootstrap/blob/ede59d49cfa6b3e3fca891e9464048d071be1fe4/src/api/retweet.js#L33

[2017-08-18 18:24] spences10 opened #91 "Use data.length"
Use `data.length` for the upper bound of the random number used, if there is a small result set then the random number will probably not be in the range of `param.searchCount`

https://github.com/spences10/twitter-bot-bootstrap/blob/ede59d49cfa6b3e3fca891e9464048d071be1fe4/src/api/retweet.js#L27

[2017-08-18 18:51] mapk commented on #87
Yes, the solution around the Twitter stream seems like the way to go here.

[2017-08-18 19:03] spences10 commented on #87
Ok @mapk can I ask you to take a look at [this](https://github.com/spences10/twitter-bot-twit) repo or maybe an even better one would be Wes Bos' [WesB0t](https://github.com/wesbos/wesbot)

IF you like I'll take a look at your c9 instance and try knock something up like it?

[2017-08-18 19:14] mapk commented on #87
@spences10 If you'd like to mess around in my c9 instance, that's cool. I'll take a look at those repos.

[2017-08-18 19:17] mapk commented on #87
Also, looks like the bot did post something recently. Maybe after you messed with it? If it works, I can start the process of moving it over to Heroku.

[2017-08-18 19:26] spences10 commented on #87
I'd recommend using now from zeit.co 👍

[2017-08-18 19:35] spences10 commented on #87
Ok `molokan`bot is up and running

[2017-08-18 19:36] spences10 commented on #87
Set yourself up a `now` account @mapk and you're done

Follow the instructions for deploying to now from the README in this repo

Please let me know if you have any questions :+1

[2017-08-18 19:37] mapk commented on #87
Awesome, thanks. Can you document your changes that made this work for my particular c9?

[2017-08-18 19:45] spences10 commented on #87
It uses the `.stream` function

Take a look here: https://github.com/spences10/twitter-bot-playground#use-twitter-stream-api

And also the Twitter-bot-twit repo which uses it exclusively

I'll probably get round to documenting it all next release of this 👌

[2017-08-18 19:46] spences10 commented on #87
@Kristofferkirk how about you?

[2017-08-18 23:48] mapk commented on #87
I tried deploying to Zeit and had another issue.

![screen shot 2017-08-18 at 4 47 39 pm](https://user-images.githubusercontent.com/617986/29481340-fb019b5c-8434-11e7-8bc6-a1df78170f4f.png)

[2017-08-19 06:16] spences10 commented on #87
![image](https://user-images.githubusercontent.com/234708/29484031-edc3a5e2-84ad-11e7-8d27-68cda51e8a0d.png)

@mapk it looks like you're in the `twitter-bot-bootstrap` directory, if you come out and got into the `simple-stream-bot` directory and try again 👍

[code]

[2017-08-19 15:12] Kristofferkirk commented on #87
Im gonna try some more now

[2017-08-28 11:25] spences10 commented on #87
@Kristofferkirk ok to close this now?

[2017-08-31 18:38] spences10 opened #97 "Use console.lol"
https://www.npmjs.com/package/console.lol

[2017-08-31 18:39] spences10 opened #98 "Merge dev-es6"

[2017-09-02 15:35] benjammartin commented on #87
I've the same problem on C9

[2017-09-02 16:11] spences10 commented on #87
@benjammartin have you read the previous comments and understand why the issue may be caused?

[2017-09-04 05:20] Kristofferkirk commented on #87
Yeah it can be closed

[2017-09-05 06:06] pabrams commented on #87
Hi, I'm getting this same issue ("ERRORDERP: Cannot assign retweeID") on Cloud9.  I read the above, and I'm using more than just one search term.  Here's my query string:
QUERY_STRING=DevOps,Chess,PowerShell

[2017-09-05 10:01] spences10 commented on #87
Hey @pabrams thanks for chiming in here, I have logged several issues to pick up when I return from holiday main one being to give some useful information on the errors.

If you find what's causing it in the meantime feel free to make a PR, would be greatly appreciated 👌

[2017-09-05 17:20] pabrams commented on #87
@spences10 Well, I didn't figure out what the problem was on C9, but I suspect it's something to do their security, so I went ahead and deployed the code anyway using zeit, and it seems to be working (one re-tweet so far).

[2017-09-05 19:16] pabrams opened #99 "Follower reply functionality triggers on wrong event"
The string configured in RANDOM_REPLY in the .env file is being tweeted by my bot at its own account, for some reason.  I can't tell what the exact trigger is - I thought it was when I followed someone else, but it doesn't seem to always trigger when I do that.  It's definitely not triggering on someone else following me, because I haven't gained any new followers, yet the tweet is appearing.

[2017-09-05 20:02] pabrams opened #100 "Cannot assign RetweetID exception occurs intermittently due to invalid random index"
Related to #87, but I suspect there's more than one issue causing the same exception so I thought I'd better open a separate issue.

The random index being generated to grab a value from the data.statuses array coming back from bot.get in retweet.js seems to incorrect and sometimes throws exceptions as a result.  I think the range of the random number should be based on data.statuses.length (since

[2017-09-05 23:38] #100 closed

[2017-09-06 18:14] pabrams commented on #99
I'm no longer able to reproduce this.  Will leave it open a while longer.

[2017-09-06 18:29] pabrams commented on #88
I noticed that the RANDOM_REPLY string is actually pipe-separated, but I believe the documentation says it is comma-separated.

[2017-09-06 19:28] spences10 commented on #88
Yeah, I use pipes so that a response can then use a comma, like: "hey @{userName}, how's things?"

[2017-09-06 21:42] #36 closed

[2017-09-06 21:44] spences10 commented on #37
Closed with c28e902fbdd9af1929ab1f087a9b6107f1af5ef5

[2017-09-06 21:44] #37 closed

[2017-09-06 21:45] spences10 commented on #38
Closed with c28e902fbdd9af1929ab1f087a9b6107f1af5ef5

[2017-09-06 21:45] #38 closed

[2017-09-07 02:51] malithjkmt commented on #87
I think there's a simple solution for this.
The reason is, LANG, LANGUAGE... environment variable s in .env file are system reserved.
So, simply use a unique one.
I just changed it in .env and config.js,
donezo!!!

more info.. -  https://help.ubuntu.com/community/EnvironmentVariables#The_LANGUAGE_priority_list

[2017-09-18 05:05] DaveBryantLU commented on #87
Any idea what would be causing "ERRORDERP: Cannot assign retweeID; exception message: Cannot read property 'id_str' of undefined" using the latest install method/guide?

[2017-09-18 05:26] spences10 commented on #87
@pabrams I'm guessing `'use strict'`?

I didn't think it was an issue after switching no node 8

I'm beginning to wonder whether I should keep the c9 guide now, it's such a super quick way to have an environment though

[2017-09-18 05:30] spences10 commented on #87
@DaveBryantLU it looks like it could be one of two things, but I'm not certain

Either the c9 environment, so if you could confirm if you're using c9 that would be handy

Or, the `LAN`, `KANGUAGE` issue mentioned earlier, try @malithjkmt's solution

This issue has been closed so one of those two would be a good guess, if you find a fix please feel free to submit a PR here or to the https://github.

[2017-09-18 05:51] DaveBryantLU commented on #87
@malithjkmt's worked! :)

Is there a way to limit the bot to only retweet specific accounts ? Like @Youtubegaming or @TwitterGaming for example ?

[2017-09-18 05:58] spences10 commented on #87
@DaveBryantLU yes, you can add in some conditional logic to the RT event

I have something sort of done on another repo so you'll need to adapt it for your own purposes

https://github.com/spences10/twitter-bot-twit/blob/master/src/helpers/dbHandleRetweet.js

So, set up your blacklist in your `.env` file then adapt the config file accordingly, feel free to submit a PR if you get something working,

[2017-09-18 05:58] #87 closed

[2017-09-24 06:53] spences10 commented on #99
Hi @pabrams,

Apologies I have only come across this issue raised today, I must have missed it somehow! 🙃

Ok, best thing for diagnosing the follower event is to open a separate twitter account for this sort of testing then follow the bot account you will be able to see it triggered real time 👍

Let me know if your still having issues, otherwise I shall close this

Thanks 👍

[2017-09-24 06:54] spences10 commented on #98
resolved with 42bbc60f143243a7e8ea3f08f3e77208cf7d4c31

[2017-09-24 06:54] #98 closed

[2017-09-24 07:17] #85 closed

[2017-09-24 07:20] spences10 commented on #74
Closed with 9a9dd48fcd34d231346d35a8717869c68b91769a

[2017-09-24 07:20] #74 closed

[2017-09-24 07:34] spences10 commented on #91
Closed with cb18cefe917f917c971297cdbcb478aca48421ff thanks @pabrams 👍

[2017-09-24 07:34] #91 closed

[2017-09-26 10:14] spences10 commented on #99
Tested, functioning as expected, closing, let me know if you still have issues with this @pabrams

[2017-09-26 10:14] #99 closed

[2017-10-03 15:12] spences10 commented on #97
Adding a bit of whimsy to the project:
![image](https://user-images.githubusercontent.com/234708/31132791-9be15c12-a855-11e7-9a63-60e36c7233bd.png)

[2017-10-03 15:21] #90 closed

[2017-10-03 15:21] #97 closed

[2017-10-23 19:33] spences10 opened #120 "Use isReply from @nikkilr88 twitter bot"
Tka e a look at using the isReply function from @nikkilr88's twitter-bot, the current functionality isn't the best and this seems like a really elegant solution.

Possibly abstract this out into it's own helper function for use in other bots 👍

https://github.com/nikkilr88/twitter-bot/issues/1

https://github.com/nikkilr88/twitter-bot/blob/4231f796762c3279f6c83c191a3003252a25d140/app.js#L61

[2017-10-24 05:22] ibeckermayer commented on #87
I am getting this same error on c9, despite the language variable fix.

`ʕʘ̅͜ʘ̅ʔ ERRORDERP: Cannot assign retweeID; exception message: Cannot read property 'id_str' of undefined`

Any idea what could be causing it. I followed the instructions exactly as in your tutorial (https://github.com/spences10/twitter-bot-bootstrap). I am trying to deploy to ZEIT now to see if it's c9 that's causing the issu

[2017-10-24 05:28] spences10 commented on #87
Do you mind emailing me a link to your c9 instance @ibeckermayer, so I can take a look?

[2017-10-24 05:32] ibeckermayer commented on #87
Sure. I've figured out that data.statuses.length is returning 0, so I must not be receiving anything back from my query. One second while I figure out how to link you to the instance (I'm new to c9)

[2017-10-24 05:34] ibeckermayer commented on #87
There you are @spences10

[2017-10-24 05:35] spences10 commented on #87
Well, if `data.statuses.length` is returning 0 then that may be the cause, I was under the impression that for zero length `data.statuses` the code failed gracefully.

[2017-10-24 05:38] ibeckermayer commented on #87
Do you have any understanding of why this may be happening. I've set up my .env so that QUERY_STRING=#careersinsoftware, which returns a few tweets if I put it in the Twitter search bar. Am I missing something obvious here?

[2017-10-24 06:46] ibeckermayer commented on #87
Update: Scott helped determine that the issue was related the data coming in from single string queries and he's working on a fix/update. If you need the fix immediately (before he's updated the repo), feel free to contact me about it.

[2017-10-24 06:57] spences10 opened #121 "Add listen on port for zeit deployment"
This is a straightforward change adding a listen on port to the bot so that it completes deployment to zeit's now;

**Details of the change:**

`bot.js` needs to have the following added to the very top of the file:

[code]

And this at the very bottom of the file add:

[code]

[2017-10-24 09:05] Yogendra0Sharma opened #123 "add support to ESLint for project"
We have to add ESLint for this project in order to code quality and readability.

[2017-10-24 09:24] spences10 commented on #87
So, I think @pabrams did a bit of work on the `data.length` to fail gracefully if there were no results from the search but it's still an issue.

If you want a bot to be very focused and specific, for one keyword to retweet on then I'm not sure that using search is the best way to do it and in place of that use the Twitter stream API for such things

[2017-10-24 09:30] spences10 commented on #121
Closed with #122

[2017-10-24 09:30] #121 closed

[2017-10-24 09:36] spences10 commented on #123
This is entry level and things like ESLint cause hours of wheel spinning for things that are largely irrelevant in the grand scheme of things.

I'd be happy to have Prettier used in the project which can do pretty much the same and not cause the user and stress hunting down why there should not be a space after their variable name 🙃

I'd happily accept a PR incorporating something like this in the

[2017-10-24 09:45] Yogendra0Sharma commented on #123
@spences10 Agreed, Prettier is a good option for this project.

[2017-10-27 18:30] #120 closed

[2017-10-27 20:09] spences10 opened #127 "Add user blacklist"
Add a user blacklist to the Twitterbot bootstrap 🏴

I have similar functionality in another bot where the blacklist is configured in a `.env` file and you can use a comma-separated list in the `.env` file, like so:

[code]

Then use something along the same lines as what is here:

[code]

The code for this is located here: https://github.com/spences10/twitter-bot-twit/blob/ee6d1e4bef3e37af84c1ecce

[2017-10-28 05:32] #123 closed

[2017-10-29 15:01] danielfsousa commented on #127
I would like to take this one

[2017-10-29 17:08] spences10 commented on #127
Cool, you may want to split the blacklist into a comma separated line, like:

[code]

[2017-11-06 19:10] spences10 commented on #127
How are you getting on with this @danielfsousa?

[2017-12-18 16:15] cucrecords opened #158 "Unhandled rejection Error - Sometimes - on Retweet"
Hi, love the bot... works great and I've been able to customize it to interact with Microsoft's QnA. However, every now and then I get the following error message on Retweets:

Unhandled rejection Error: Twit: Params object is missing a required parameter for this request: `id`

Not sure if that's a twit module problem or the twitter-bot. I can't seem to make it go away or figure out why the id pa

[2017-12-19 06:34] spences10 commented on #158
Hi @cucrecords

I'm going to guess that is because the tweet doesn't exist anymore - the bot uses a search function which I have never really found that accurate in my experience.

If you really want to find the issue add in some `console.log`'s around where you see the issue happening and try to identify what's going on.

I'm going to guess that you'll have `undefined` for the tweet id when doing

[2017-12-19 17:52] cucrecords commented on #158
Hi @spences10, thanks for the feedback that makes sense. My initial logging does bring back an id for the tweets that error, but it's 1380000 every time regardless of the tweet... which looks maybe like an error code ID possibly. I'll keep looking into it, but it's not a critical problem. Should we close this issue and rack it up to the twitter api search functionality?

I'll try to get my code up

[2017-12-19 17:58] spences10 commented on #158
I'm a professional copy pasta 💪 😁

Take a look at `dotenv` for hiding environment variables 👍

It's used in this repo

I'll close this but please provide details on your bit when you get it into GitHub, please feel free to log any more issues also [ask me anything](https://github.com/spences10/ama) or get me on Twitter @ScottDevTweets

[2017-12-19 17:58] #158 closed

[2018-01-02 01:29] EniaTitova opened #168 "Missing .env file"
Hi there,

This is the first bit of code I've touched in my entire life so please be gentle, and apologies in advance if this is dumb/answered somewhere else.

I can't seem to find the .env file to input my twitter credentials for the life of me.  Yes, I showed "hidden files" and even tried searching for it using the Navigation tab.

Help?

Thank you thank you thank you in advance.

[2018-01-02 02:01] Raindeer44 commented on #168
Welcome to GitHub! We're happy to have you!

The `.env` file is deliberately missing because it's designed to hold information specific to you. You need to create the file yourself, then continue following the instructions in `README.md`.

[2018-01-02 06:54] spences10 commented on #168
Thanks for taking the time to log an issue @EniaTitova and apologies if you have wasted some time trying to figure out what you should be doing.

I tried to make it as clear as possible specifically for this sort of situation.

@Raindeer44 thank you for answering for me 😁

So quick help is create the file like @Raindeer44 says, if you're in c9 then add the file in the file view to the root of the

[2018-01-02 06:58] EniaTitova commented on #168
Thanks @Raindeer44 and @spences10!  I'll be back at it next opportunity I get

[2018-01-16 17:49] cschweda opened #180 "Params error"
Bot working, but I keep getting this on successful retweet in console:

[code]

Trace includes:

[code]

Ideas for where to fix this?

EDIT:

I fixed the error by in ```retweet.js``` by changing:

[code]

to this:

[code]

Not sure if that's the right approach? But no more errors ...

[2018-01-17 11:27] spences10 commented on #168
Add in `.env-sample` like @cschweda has done here and update the `README.md`

https://github.com/cschweda/incognitabot/blob/master/.env-sample

[2018-01-17 11:48] spences10 commented on #180
It's the random `rando` status ID, sometimes it doesn't exist

A way around this is to not use `.get('search/tweets',` I found using the twitter stream API more reliable but obviously this will action events as they happen, if you want to add some delay to retweeting take a [delay tweet] which I put together to do just that 👌 😁

If you think you'd like to add a solution I'm happy to accept a PR @c

[2018-01-18 20:16] cschweda commented on #180
Thanks. I'll take a closer look when I get a chance.

[2018-02-01 19:33] mathias3 commented on #76
i got this problem and have all keys sat up properly ( no spaces or  any "" or '' around the API keys)

[2018-02-01 19:37] spences10 commented on #76
You have your `.env` file set up like in the example @mathias3?

[code]

[2018-02-01 19:38] spences10 commented on #76
And you have the rest of your query information set up??

[code]

[2018-02-01 19:44] mathias3 commented on #76
Exactly:

 TWITTER_CONSUMER_KEY=xYs05WxxxxxxxxxxxnEHRa
TWITTER_CONSUMER_SECRET=hiHikxaINsVbWxxxxxxxxxe844EvNHDAWqH
TWITTER_ACCESS_TOKEN=9588xxxxxxx9297-Gd8tZKnkiqyxxxxxxxNUXsYeUsPyYT
TWITTER_ACCESS_TOKEN_SECRET=xZ4e3y6MFnQxxxxxxxxxxxxxxxqBAf99nufq6hkOr5

QUERY_STRING=my super awesome query string!,google,android

RANDOM_REPLY=Hi @${screenName} thanks for the follow! What are you working on today?|

[2018-03-05 14:09] andrewjburnett opened #196 "Crash during Retweet"
[code]

[2018-03-06 07:57] spences10 commented on #196
Hi @andrewjburnett thanks for using the Twitter bot bootstrap :👍

As a general guide when giving feedback on issues with open source projects it's usually helpful to give a bit more information with the console output to help maintainers understand where the problem may be.

As a user should have a look at previous issues to see if their issue has already been addressed.

I'm not able to help with

[2018-03-06 15:57] andrewjburnett commented on #196
Sure, what else can I provide?

I'm simply running the script with the following params:

QUERY_STRING=from:@nasa,from:@spacex,from:@StationCDRKelly,from:@googleresearch,from:@NASAJPL,from:@NASA_Hubble,from:@MarsCuriosity,from:@NASAKepler
RANDOM_REPLY=Hi @${screenName} thanks for the follow! What are you working on today?|@${screenName} thanks for following! What are you working on today?

RESULT_

[2018-03-06 17:37] spences10 commented on #196
🤔

Not seen query string formed like that before, do you want to watch those accounts specifically and retweet anything from those accounts @andrewjburnett?

If that's all you want then you could set up to watch the specific accounts and tweet with the `.on` api

There's some info on it here: https://github.com/spences10/twitter-bot-playground/blob/master/docs/05-use-twitter-stream-api.md

If you

[2018-03-06 17:46] andrewjburnett commented on #196
So the ```.on``` api is outside the scope of this project?

[2018-03-06 18:39] spences10 commented on #196
For following specific accounts and tweeting the statuses from those accounts with `.on` then yes 👍

If you want to use that for watching for specific keyword/phrases then take a look at the previously linked `delay-tweet` repo 👌

Have you tried changing the query to specific words and proses associated with the accounts you want to retweet from?

[2018-03-16 17:02] spences10 opened #203 "move licence from .github folder"

[2018-03-19 14:49] spences10 commented on #127
Hey @danielfsousa looks like there's been nothing committed to your fork so I'll open this up for other people interested in doing this.

[2018-03-19 14:55] #196 closed

[2018-03-19 14:56] spences10 commented on #180
Closing due to inactivity

[2018-03-19 14:56] #180 closed

[2018-03-21 00:07] toxxn opened #204 "TypeError: Cannot read property 'text' of undefined"
## Do you want to request a :rocket: _feature_ or report a :bug: _bug_?
bug

### :thinking: Expected Behaviour
The command "npm start" would run correctly.

### :confused: Current Behaviour

ec2-user:~/environment/twitter-bot-bootstrap (master) $ npm start

 ROFL:ROFL:ROFL:ROFL
         _^___
 L    __/   [] \
LOL===__        \     Bot starting...
 L      \________]
         I   I
       --------/

[2018-03-21 00:19] toxxn commented on #204
I tried reinstalling npm/dependencies and got the following

ec2-user:~/environment/twitter-bot-bootstrap (master) $ npm start

 ROFL:ROFL:ROFL:ROFL
         _^___
 L    __/   [] \
LOL===__        \     Bot starting...
 L      \________]
         I   I
       --------/
¯_(ツ)_/¯ ERRORDERP: Retweet!
(>ლ) SUCCESS: RT:  https://t.co/tlgrK4t4Mv - tons of snow right now!! #skitahoe #northstarcalifornia

[2018-03-21 18:37] toxxn commented on #204
I think this may be a problem with my query strings... If I adjust the query string to have too many minuses after a hashtag, it seems it wont run. However if I have a list of separate "1 hashtag and 1 minus", the code works.

Is there a way to blacklist certain phrases and hashtags?

[2018-03-22 08:02] spences10 commented on #204
Hey @toxxn take a look at #127 for how to implement a blacklist and feel free to make a PR if you get it working 👍

Closing this as it appears to be your querys causing the issue

Thanks

[2018-03-22 08:02] #204 closed

[2018-03-23 19:29] danielfsousa commented on #127
That's ok @spences10. Sorry for not replying sooner

[2018-03-23 19:51] spences10 commented on #127
Up for grabs now @toxxn 👍

[2018-03-23 20:12] toxxn commented on #127
@spences10

I went ahead and tried to use the #100DaysOfCode Twitter Bot since it seemed like it had the blacklist feature implemented already, however I'm stuck lol, that version of the bot won't deploy and when I just "npm start", it loops but doesn't post.... Maybe ill try your blacklist here haha.

[2018-03-23 21:14] toxxn opened #209 "Retweet timing is off?"
Hope I'm not blowing you up with issues and comments lol.

I noticed that when I have my settings at:
TWITTER_RETWEET_RATE=.5
TWITTER_SEARCH_COUNT=20

my twitter is not posting every 30 seconds so I created two instances, one instance at :
TWITTER_RETWEET_RATE=10
TWITTER_SEARCH_COUNT=10
and one at:
TWITTER_RETWEET_RATE=.5
TWITTER_SEARCH_COUNT=20

My twitter is posting sporadically with hours in be

[2018-03-24 10:55] spences10 commented on #209
What is it that you have for your search parameters?

Usually, if there's not enough traffic for your specified keywords then you're going to get weird results with the Twitter search API, that's why I now prefer to use the `.on` stream API as it will watch for your specified words and there's no need to set intervals for searching.

I know I've not really answered your issue and I haven't looked

[2018-03-24 21:04] spences10 commented on #127
Hey, just seen this, I don't seem to get notified about these. I answered your question about why the [bot won't deploy] there, I hope you understand 🙃 let me know if you need anything clarifying.

So in its simplest form the blacklist is `if (blacklist.indexOf(event.screen_name) > -1)` where `blacklist` is the usernames added from the config.

Most of it is detailed in the original post, I'm on m

[2018-04-02 03:21] fussellm opened #210 "Twitter Suspends Account immediately"
I went through the tutorial and it retweeted something during the "npm start", and again during the "npm run deploy", but as soon as i click the link to view the unique URL, it says on the Twitter website "account suspended".
I created a new twitter account tonight just to tinker with this stuff.
This is my first tweet/re-tweet.
It works during the testing phase.
I'm just doing a query search para

[2018-04-02 08:56] spences10 commented on #210
Hey @fussellm thanks for taking an interest in the repo :+1:

I'd say that your guess is probably correct here and it'll probably be something that should be added to the docs.

Can you log into the Twitter account? Does it say anything when you log in?

[2018-04-02 11:04] fussellm commented on #210
Yes. The twitter account is active from a browser/GUI standpoint.  But the link I get from the tutorial just says account suspended.   Thanks for the feedback.

[2018-04-02 12:31] fussellm commented on #210
Interestingly, the bot is still kind of working?   It did a single re-tweet overnight, and when i just followed it from my main account, it replied "hi" twice.

[2018-04-02 12:37] spences10 commented on #210
:thinking:

What unique URL is it? This from now?

Reopening as there needs to be something added to the docs around account suspension, if we can identify what's happened here other users can understand what's going on

[2018-04-02 12:43] fussellm commented on #210
Hey.   i go to my "zeit" site and i click my unique URL
and it goes me a page
Synced...
prepared container
installed and built project
started
then it says "Ready visit now" and here's the link
https://testtwitter9191-ygpqmiujzm.now.sh/

The twitter account is GlenDavis919

[2018-04-02 13:11] fussellm commented on #210
i opened a new AWS environment and retyped the setup steps, just to have a fresh version.
the retweet worked in test and production
here's the new link https://twitter-bot-bootstrap-azffdittug.now.sh/

[2018-04-02 14:29] fussellm commented on #210
Ok, i see on my phone its saying @ undefined when it says the account is suspended.
The latest version i made is currently working, retweeting the search terms every 20 minutes, so i guess i'm going to leave it alone, and then see what other things i can tinker with, or even do one of those  write-from-scratch tutorials to understand it more.

Thanks!

[2018-04-22 09:33] spences10 opened #216 "Remove references to c9"
https://github.com/spences10/twitter-bot-playground/issues/37

[2018-04-23 13:16] #203 closed

[2018-05-02 15:37] greenkeeper[bot] opened #220 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-05-17 12:27] spences10 commented on #210
Closing this now due to inactivity, reopen if you have anything else to add

Many thanks

[2018-05-17 12:27] #210 closed

[2018-05-23 16:26] greenkeeper[bot] opened #222 "Invalid Greenkeeper configuration file"
We have detected a problem with your Greenkeeper config file  🚨

Greenkeeper currently can’t work with your `greenkeeper.json` config file because it is invalid. We found the following issue:

1. The package path `.package.json` in the group `default` is invalid. It must be a relative path to a `package.json` file. The path may not start with a slash, and it must end in `package.json`. Allowed cha

[2018-05-31 21:23] spences10 opened #227 "use mocks for testing"
Take a look at Emanuel's testing work on the 100DoC bot and use on the next iteration here

Lot's of people are mentioning hitting the api limit and getting their bots banned

https://github.com/freeCodeCamp/100DaysOfCode-twitter-bot/blob/master/__mocks__/twit.js

[2018-06-29 07:00] spences10 opened #236 "Subscribe to account activity instead of streams"
https://developer.twitter.com/en/docs/accounts-and-users/subscribe-account-activity/migration/introduction.html

[2018-11-02 20:47] danielfeloiola opened #249 "Bad request on start"
### :thinking: Expected Behaviour
Bot start working

### :confused: Current Behaviour
Bad request (410)
Any ideas on how to fix this? Is it gone forever?

Log:

 ROFL:ROFL:ROFL:ROFL
         _^___
 L    __/   [] \
LOL===__        \     Bot starting...
 L      \________]
         I   I
       --------/
events.js:183
      throw er; // Unhandled 'error' event
      ^

Error: Bad Twitter streaming re

[2018-11-04 14:14] spences10 commented on #249
Hey @danielfeloiola take a look at using https://github.com/spences10/delay-tweet

This project is dated and I'm not sure if it is still functioning.

Delay tweet was the last Twitter project I worked on, due to changes in the Twitter API they may both be broken.

[2018-11-10 14:46] TheeMattOliver commented on #249
We're getting the "Error: Bad Twitter streaming request: 410"  because the stream API endpoint has been closed.

https://twittercommunity.com/t/details-and-what-to-expect-from-the-api-deprecations-this-week-on-august-16-2018/110746

They recommend migrating to the "Account Activity API".

I'd love it if @spences10 was planning a fix!

[2018-11-10 16:08] spences10 commented on #249
Thanks for clearing that up @theemattoliver

[2018-11-10 16:08] #249 closed